[project]
	description = A golang webservice with mongoDB database
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Uttam Gandhi (uttamgandhi24)
[access "refs/for/refs/*"]
	read = group user/Uttam Gandhi (uttamgandhi24)
	push = group pre-sales-huddle-webservice
	push = group user/Uttam Gandhi (uttamgandhi24)
	label-Code-Review = -2..+2 group user/Uttam Gandhi (uttamgandhi24)
	label-Verified = -1..+1 group user/Uttam Gandhi (uttamgandhi24)
	rebase = group user/Uttam Gandhi (uttamgandhi24)
	removeReviewer = group user/Uttam Gandhi (uttamgandhi24)
	submit = group user/Uttam Gandhi (uttamgandhi24)
[access "refs/heads/*"]
	read = group user/Uttam Gandhi (uttamgandhi24)
	create = group user/Uttam Gandhi (uttamgandhi24)
	push = +force group user/Uttam Gandhi (uttamgandhi24)
	pushMerge = group user/Uttam Gandhi (uttamgandhi24)
[access "refs/tags/*"]
	push = +force group user/Uttam Gandhi (uttamgandhi24)
	pushTag = group user/Uttam Gandhi (uttamgandhi24)
	pushSignedTag = group user/Uttam Gandhi (uttamgandhi24)
